.list-group {
  margin: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;

  &__item {
    padding: .5em;
    list-style: none;
    cursor: pointer;

    &:hover {
      background: #FAFAFA;
    }
  }

  &__item + &__item {
    border-top: 1px solid #ddd;
  }

  &--header {
    background: #455A64;
    color: #fff;
    cursor: default;

    &:hover {
      background: #455A64;
    }
  }

}
