.create-view {

  .list-group {
    margin: 20px 0;
  }

  .answer {
    display: flex;
    flex-direction: column;

    .input {
      width: 100%;
    }

    .input + .input {
      margin-top: 5px;
    }
  }

}
